* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: transparent;
  color: inherit;
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
fieldset {
  color: inherit;
  background: transparent;
  border: none;
  outline: transparent;
  max-width: 100%;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}
