@use "../../../assets/styles" as *;

.nav {
  //--border-size: 2.5px;
  //--padding-inline: calc(14px - var(--border-size));
  //--padding-block: calc(6px - var(--border-size));
}

.nav > * {
  transition: all 0.2s ease-in-out;
}

.nav {
  @include row(center);
  width: fit-content;
  background: var(--color-surface);
  padding: 6px;
  border: 2px solid var(--color-outline);
  border-radius: 32px;
  position: relative;

  ul {
    @include row;
    gap: 4px;
    isolation: isolate;
  }

  @include screen-md {
    border-radius: 12px;
    border-width: 1px;
  }
}

.navIndicator,
.navItem {
  @include row(center);
  padding: 8px 24px;
  border-radius: 32px;
  gap: 8px;
  font-size: 14px;

  svg {
    @include centered;
    width: 20px;
    height: 20px;
  }

  * {
    pointer-events: none;
  }

  @include screen-md {
    border-radius: 6px;
  }
}

.navIndicator {
  position: absolute;
  transition-duration: 400ms;
  background: var(--color-primary-container);
  color: transparent;
  pointer-events: none;
  z-index: -1;


}

.navItem {
  z-index: 2;
}

.navItem[aria-selected="true"] {
  color: var(--color-on-primary-container);
}