$colors: (
        "primary": (
                "container": "#676000",
                "content": "#ffffff",
        ),
        "primary-container": (
                "container": "#f6e600",
                "content": "#1f1c00",
        ),
        "secondary": (
                "container": "#2155ce",
                "content": "#ffffff",
        ),
        "secondary-container": (
                "container": "#dbe1ff",
                "content": "#00174c",
        ),
        "background": (
                "container": "#f7f7fa",
                "content": "#1d1d1d",
        ),
        "surface": (
                "container": "#fdf9de",
                "content": "#49473a",
        ),
        "surface-variant": (
                "container": "#e7e3d0",
                "content": "#49473a",
        ),
        "outline": (
                "container": "#7a7768",
                "content": "#7a7768",
        ),
        "success": (
                "container": "#89dc92",
                "content": "#023a15",
        ),
        "success-container": (
                "container": "#055422",
                "content": "#a4f9ac",
        ),
        "warning": (
                "container": "#f1c24b",
                "content": "#3e2e03",
        ),
        "warning-container": (
                "container": "#5a4406",
                "content": "#fbe1a4",
        ),
        "danger": (
                "container": "#ba1a1a",
                "content": "#ffffff",
        ),
        "danger-container": (
                "container": "#ffdad6",
                "content": "#410002",
        ),
);

$color-prefixes: (
        "container": "",
        "content": "-on",
);

:root {
  @each $color-name, $color-contexts in $colors {
    @each $context-name, $context-value in $color-contexts {
      --color#{map-get($color-prefixes, $context-name)}-#{$color-name}: #{$context-value};
    }
  }

  html,
  body {
    background: var(--color-background);
    color: var(--color-on-background);
  }
}

@each $color-name, $color-contexts in $colors {
  .card-#{$color-name} {
    background: var(--color-#{$color-name});
    color: var(--color-on-#{$color-name});
  }

  .text-#{$color-name} {
    color: var(--color-#{$color-name});
  }
}

@mixin card($color-name) {
  background: var(--color-#{$color-name});
  color: var(--color-on-#{$color-name});
}
